.adminMain {
    width: 100vw;
    height: 100vh;

    display: flex;
    gap: 1px;
}

@import url(../../../components/CSS/admin/adminSide.css);
@import url(./adminUser.css);
@import url(../../css/admin/adminUser.css);
