body {
    width: 100%;
    margin: auto;
}

/* ============================================================================================ */
/* ============================================================================================ */
/* =================================main============================ */

 #wishListMain {
    width: 70%;
    margin: auto;
    font-size: 1.4rem;
}
