/* @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); */

/* * {
    margin: 0;
    padding: 0;
    color: gray;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} */

body {
    width: 100%;
    margin: auto;
}




/* ============================================================================================ */
/* ============================================================================================ */
/* =================================main============================ */

#wishListMain {
    width: 70%;
    margin: auto;
    font-size: 1.4rem;
}

#myWhishListWrap {
    margin: 0 auto;
}

.myWhishListTitle {
    line-height: 2.5rem;
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Nanum Myeongjo';
    text-align: center;
    color: #1A1B23;
    padding: 100px 0px 38px;
}

.whishListTableWrap {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

/* ====================테이블 왼쪽 위 작은 카테고리=================== */
/* ====================테이블 왼쪽 위 작은 카테고리=================== */
/* ====================테이블 왼쪽 위 작은 카테고리=================== */

.whishListCategory {
    margin: 14px 0 12px;
    margin-top: 170px;
}

.whishListCategory a {
    font-size: 1.2rem;
}

.whishListCategory a:last-of-type {
    color: #505DD0;
    font-weight: bold;
}

/* ====================Table=================== */
/* ====================Table=================== */
/* ====================Table=================== */

.whishListTable {
    width: 100%;
    min-width: 700px;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.5rem;
}

.whishListTable #wishListThead,
.whishListTable #wishListTbody,
.whishListTable .wishListLine {
    border-bottom: 2px solid #1A1B23;
}

.whishListTable .wishListLine {
    height: 40px;
    border-bottom: 1px;
}

.whishListTable .wishListTh {
    text-align: center;
}

.whishListTable .wishListLine .wishListTd {
    text-align: center;
    height: 100px;
}

.whishListTable #wishListTbody .wishListTd:nth-of-type(2) img {
    display: inline-block;
    width: 90%;
    height: 90%;
}

.whishListTable #wishListTbody .wishListLine {
    height: 140px;
}

.whishListTable .wishListTd:nth-of-type(1) {
    width: 40px;
}

.whishListTable .wishListTd:nth-of-type(3) {
    text-align: left;
    font-weight: 700;
}

/* 마우스 오버  */
.whishListTable .wishListTd:nth-of-type(3) .wishListProductName :hover{
    color: #505DD0;
}

.whishListTable .wishListTd:nth-of-type(3) .wishListProductName:last-child {
    padding-top: 11px;
    opacity: 0.5;

}


.whishListTable .wishListTd:nth-of-type(4),
.whishListTable .wishListTd:nth-of-type(5) {
    padding: 0 10px;
    text-align: right;
}

.whishListTable .wishListTd:last-of-type {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    height: 83px;
    margin: 28.5px 0;
}

/* ======================Table 하단 버튼 =================== */
/* ======================Table 하단 버튼 =================== */
/* ======================Table 하단 버튼 =================== */

.whishlistButtonWrap {
    margin: 10px auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 150px;
}

.whishlistControlButtonWrap,
.whishlistOrderButton {
    display: flex;
    align-items: center;
    gap: 9px;
}

.whishlistButton{
    text-align: center;
    width: 160px;
    height: 36px;
    line-height: 36px;
    background-color: #F5F5F5;
    border: 1px solid #1A1B23;
}

.whishlistButtonWrap #whishListBlackButton {
    display: inline-block;
    background-color: #1A1B23;
    color: #F5F5F5;
}
