header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.5);
}

header>.upperHeader {
    width: 70%;
    height: 128px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
}




/* ===== LOGO 부분 ===== */
.upperHeader .logoContainer {
    width: 200px;
    height: 70px;
}

.logoContainer>a {
    display: block;
    height: 100%;
    text-indent: -9999em;
    background: url(../../stores/images/icon/goohaeLogo.png) center/cover;
}




/* ===== nav 부분 ===== */
.nav {
    width: 264px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

/* forUserContainer */
.upperHeader>.nav>.forUserContainer {
    display: flex;
    flex-grow: 1;
    gap: 18px;
    width: 100%;
    height: 21px;
}

.upperHeader>.nav>.forUserContainer>li{
    width: 100%;
    height: 100%;
}

.upperHeader>.nav>.forUserContainer>li>a,
.upperHeader>.nav>.forUserContainer>li>div {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
}

.upperHeader>.nav>.forUserContainer>li>a>img,
.upperHeader>.nav>.forUserContainer>li>div>img {
    width: 30%;
    height: 100%;
}

.upperHeader>.nav>.forUserContainer>li>a>span,
.upperHeader>.nav>.forUserContainer>li>div>span {
    width: 70%;
    height: 100%;
    line-height: 21px;
    letter-spacing: 2px;
    padding-left: 2px;
    font-size: 12px;
}

/* searchContainer */
.nav>.searchContainer {
    width: 100%;
    height: 36px;
    border: none;
    position: relative;
}

.nav>.searchContainer>input {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 5px 32px 5px 5px;
}

.nav>.searchContainer>button {
    position: absolute;
    top: calc((100% - 20px) / 2);
    right: 12px;
    width: 20px;
    height: 20px;
    background: "";
    border: none;
    cursor: pointer;
    background: url(../../stores/images/icon/Serch\ icon.png);
}

.nav>.searchContainer>button>a {
    display: block;
    width: 100%;
    height: 100%;
}



/* nav hover === */
.nav>.forUserContainer>li>a:hover,
.nav>.searchContainer>button:hover {
    opacity: .5;
}




/* ===== category 부분 ===== */
header>.underHeader {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.categoryContainer {
    position: relative;
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: center;
    gap: 4%;
    background-color: rgba(255, 255, 255, 0.1);
}

.categoryContainer>li {
    width: 100px;
    height: 30px;
    font-size: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.categoryContainer>li:last-of-type {
    position: absolute;
    right: 0;
}

.categoryContainer>li>span {
    height: 100%;
    width: 100%;
    line-height: 30px;
    text-align: center;
}

.categoryContainer>li:last-of-type>span {
    display: flex;
}

.categoryContainer>li:last-of-type>span>img {
    margin-top: 2.5px;
    width: 25px;
    height: 25px;
}

.categoryContainer>li>ul {
    visibility: hidden;
    position: absolute;
    width: 100%;
    bottom: -5px;
    transform: translateY(100%);
    z-index: 100;
    background-color: rgba(255, 255, 255, .8);
}

.categoryContainer>li>ul>li {
    width: 100%;
    height: 30px;
    font-size: 1.3rem;
}

.categoryContainer>li>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* category hover === */
.categoryContainer>li:hover {
    color: rgba(0, 0, 0, .5);
}

.categoryContainer>li:hover>span {
    color: #505DD0;
    border-bottom: 1px solid #505DD0;
}

.categoryContainer>li:hover>ul {
    visibility: visible;
    bottom: 0;
    transition: all .3s;
}

.categoryContainer>li>ul>li>a:hover {
    border: 1px solid #505DD0;
    color: #505DD0;
    opacity: .5;
}