.modalContainer {
    width: 2000px;
    height: 800px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -9999em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWindow {
    width: 500px;
    height: 350px;
    background-color: black;
    color: white;
    position: relative;
    z-index: 1
}

.modalWindow>div {
    color: white;
    font-size: 1.6rem;
}

.modalImg {
    width: 300px;
    height: 150px;

    margin-top: 15px;
}