.pagingContainer {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.pagingContainer>div {
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    padding: 8px;
    font-size: 1.4rem;

    cursor: pointer;
}