
.NavContents{
    display: inline-block;
    cursor: pointer;
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    height: 100%;
    justify-content: center;
    width: 7%;
}

.NavContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

