body {
  width: 100%;
  margin: auto;
}

:root {
  font-size: 10px;
}

/* ============================================================================================ */
/* ============================================================================================ */
/* .=================================myPageMain============================ .*/
.myPageMain {
  margin: 0 auto;
  width: 70%;
  margin-top: 258px;
}
