.myPageMyOrder {
    text-align: center;
    border: 1px solid #9497AB;
}

/* 타이틀 박스   */
.myPageOrederWrap {
    margin-top: 30px;
    margin-bottom: 40px;
}

/* 나의 주문처리현황 text */
.myPageOrederTitle {
    font-size: 1.6rem;
    font-weight: bold;
    color: #505DD0;
}


.myPageOrderTitleContent {
    font-size: 1.3rem;
    color: #9497AB;
    margin-top: 6px;
}


/* 프로세스컨테이너 */
.myPageProcessContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 34px;
}

/* 프로세스 이너 컨테이너 */
.myPageOrderProcessInnerContainer {
    width: 15%;
    height: 80px;
    border-right: 1px solid #9497AB;
    float: lest;
}

/* 프로세스 제목 */
.myPageCaseTitle {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: bold;
}

/* 프로세스당 건 수 */
.myPageCase {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    color: #505DD0;
}

/* 프로세스 제목 */
#myPageLastCaseTitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
}

/* 주문 기타 컨테이너 */
.myPageOrderProcessLastInnerContainer {
    width: 15%;
    height: 80px;
    /* float:lest; */
}

/* 주문 기타 리스트 */
.myPageOrderOtherCaseList {
    margin-bottom: 5px;
    font-size: 1.3rem;
    color: #9497AB;
    /* font-size: 1.3rem;
    color: #9497AB;
    margin-bottom: 5px; */
}

/* 주문 기타 건수  */
.myPageOrderOtherCase {
    color: #505DD0;
}