body {
    width: 100%;
    margin: auto;
}

/* ============================================================================================ */
/* ============================================================================================ */
/* =================================.myPostMain============================ */

.myPostMain {
    width: 70%;
    /* padding: 0 5%; */
    font-size: 1.4rem;
    min-width: 700px;
}

.myPostMain {
    margin: 0 auto;
}
