/* * {
    margin: 0;
    padding: 0;
    color: gray;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} */

body {
    width: 100%;
    margin: auto;
}

/* ============================================================================================ */
/* ============================================================================================ */
/* =================================.myPostMain============================ */

.myPostMain {
    width: 70%;
    /* padding: 0 5%; */
    font-size: 1.4rem;
    min-width: 700px;
}

.myPostMain {
    margin: 0 auto;
}
/* 

.myPostUpper #myPostTableSelect {
    font-size: 12px;
}

.myPostTableWrap .myPostTableOption,
.myPostTableWrap #myPostTableSelect  {
    color:#1A1B23;
}

.myPostTableWrap {
    width: 100%;
    margin: 50px auto;   /
    margin-bottom: 200px;
} */

/* ====================Table=================== */
/* ====================Table=================== */
/* ====================Table=================== */

/* 
.myPostTable {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
}

.myPostTable .myPostTableTr {
    height: 40px;
    border-bottom: 1px solid #1A1B23;
}

.myPostTable .myPostTableTh {
    border-bottom: 2px solid #1A1B23;
    text-align: center;
}

.myPostTable .myPostTableRow {
    border-bottom: 2px solid #1A1B23;
    text-align: center;
}

.myPostTable .myPostTablTbody .myPostTableRow{
    height: 70px;
}

.myPostTable .myPostTableRow .myPostSubject:hover{
    color: #505DD0;
}

.nondisplay{
    display: none;
} */
/* .PostConmypostTableTrolButton {
    margin: 0 auto;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 5px;
} */